/*desktop-css*/
body{background: #ffffff;font-family: 'Noto Sans', sans-serif;}
b, strong {font-weight: bold;}
.card-img {width: 100%;border-radius: calc(0.25rem - 1px);height: 100% !important;}
.responsible img{max-width: 100%;float: left;padding: 5px;}
.responsible p{float:left;}
.mob-seemore{font-family: 'Noto Sans', sans-serif;}
.navbar-light .navbar-nav .nav-link {color: #000000;font-size: 13px;padding-left: 13px;padding-right: 17px;transition: 0.3s ease all;font-weight: 700;}
.red-r-bdr{border-right: solid 3px #f44336;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {background: #ffbf86;border-radius: 3px 3px 0px 0px;}
.navbar .active {background: #ffbf86;border-radius: 3px 3px 0px 0px;color: #ffffff !important;}
#header .search-icon:after, #header .search-icon:before {background: #ec7c23 !Important;opacity: 0;}
#header .custom-search {margin: 0px !important;opacity: 0;position: absolute;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;z-index: -1;width: 62% !important;right: 40px;margin-top: -11px !important;}

/*HYPER LINK*/
a:hover{}
a, a:focus , a:hover{text-decoration: none;color: inherit;}
 a:hover, .btn{outline:none!important;}

/*ROUNDED CORNER*/

/*CATEGORIES BADGE*/
.badge {font-weight: 600;font-size: 13px;color: white;background-color: #e20c0c;}

/*FEATURED*/
.mg-2, .mg-4{
	margin-left:-20px;
}
.linkfeat{background: rgba(76,76,76,0);background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(49%, rgba(48,48,48,0)), color-stop(100%, rgba(19,19,19,1)));background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgba(19,19,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );}

.card-img-overlay {background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(48,48,48,0) 49%, rgb(0, 0, 0) 100%);}
.top-news-section .card{border:none;}
.mb-bg-light{background: #fe941e;}
.section-style{background: #f7f7f7;box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);border-radius: 5px !important;}
.industry-brefing{ padding-left:0px !important;}
.industry-brefing h6{font-size:14px;}
.date{font-size:13px;color: #212121;font-family: 'Alegreya Sans', sans-serif;}
.fa-calendar{font-size:14px;}
.title-holder{width:100%; float:100%;}
 .font-heading-1{line-height: 22px;}
.title-holder h5{font-family: 'Rajdhani', sans-serif;
	font-weight: 700;}
.heading-bdr{background-image: url(../images/shape-dark.png);width: 100%;background-repeat: repeat-x;background-position: center;}
.heading-bdr2{background-image: url(../images/shape-white.png);width: 100%;
 background-repeat: repeat-x; background-position: center;}

.media-form ul{margin: 0px; padding: 0px;}
.media-form ul li{list-style-type:none; margin-top: 15px; line-height: 20px;border-bottom: dashed 1px #d8d8d8;padding-bottom: 15px;}
.big-number{height: 48px;float: left;font-size: 28px;margin-right: 11px; line-height: 35px; font-weight: bold;color: #f44336;}
.widget-title-cover {line-height: 1;overflow: hidden;width: 100%;border-bottom: solid 3px #e20c0c;}
.widget-title-cover h5.widget-title {position: relative;text-transform: uppercase;display: inline-block;background: #e20c0c;color: white;padding: 5px;margin-bottom: -4px;font-family: 'Rajdhani', sans-serif;font-weight: 700;text-shadow: 1px 1px 1px #000000;}
.widget-title-cover h5.widget-title span {padding-left: 15px;padding-right: 10px;}

.widget-title-cover h5.widget-title span::after {content: "";position: absolute;border-color: #ff000000 #e20c0c transparent;right: -34px;top: 0px;content: '';border-style: solid;border-width:31px 0px 0px 34px;}

.custom-slides-control{position: absolute;width: 100%;bottom: -34px;margin-bottom: 0px !important;}
.custom-slides-control .btn-floating {background: #000000 !important;width: 30px;height: 30px; border-radius: 50% !important;}
.custom-slides-control .btn-floating i {font-size: 15px;line-height: 31px;color: #fff;}

#nt-example1 {max-width: 620px;margin: auto;padding: 0px;height: 476px !important;background: #212121;}
#nt-example1 li {
	color: #ffffff;
	overflow: hidden;
	height: 80px;
	padding: 10px;
	line-height: 30px;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px dashed #515151;}

#nt-example1 li a:hover{color:#8F8F8F;}



#nt-example2 {
	max-width: 620px;
	margin: auto;
	padding: 0px;
	height: 340px !important;
}


#nt-example2 li {
	color: #ffffff;
	overflow: hidden;
	height: 177px;
	margin-bottom: 10px;
	line-height: 30px;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px dashed #515151;}

#nt-example2 li a:hover{color:#8F8F8F;}




.add-text small{font-size: 10px; text-align: right;padding: 6px; background: #ffffff;}
.yellow-hed{border-color:#FF9800 !important; }
.yellow-hed h5{background: #FF9800 !important;}
.yellow-hed h5.widget-title span::after {
    border-color: #ff000000 #FF9800 transparent;
}
.heading-2{border-color:#00BCD4 !important; }
.heading-2 h5{background: #00BCD4 !important;}
.heading-2 h5.widget-title span::after {
    border-color: #ff000000 #00BCD4 transparent;
}
.heading-3{border-color:#212121 !important; }
.heading-3 h5{background: #212121 !important;}
.heading-3 h5.widget-title span::after {
    border-color: #ff000000 #212121 #000000;
}
.scrollbar {
	height: 330px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}


 .style-4::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #646b71;
}
 .style-4::-webkit-scrollbar {
 width: 4px;
 border-radius: 50%;
 background-color: #646b71;
}
 .style-4::-webkit-scrollbar-thumb {
 background-color: #ff9800;
}

.video-selected {
  width: 100%;
  }
        
.video-iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-bottom: 10px;
	z-index:
}
        
.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	height: 246px;
}
        
.video-thumbnails {
  padding: 0;
  width: 100%;
}

.video-thumb {
  min-height: 86px;
  height: auto;
	text-align: center;
}

.video-thumb img {
  background-color: #d8d9da;
  width: 78%;
}

.video-thumb iframe {
  display: none;
}

.video-thumb,
.video-selected {
 
}

.video-thumb p {
  margin: 0;
  font-size: 12px;
}

.video-thumb p.name {
  margin-top: 5px;
  font-weight: bold;
}

.image-gallery{ width: 100px; margin: 0px !important; display:inherit; top: 0;    height: 248px;}
.image-gallery li{width:82% !important; float:left; margin:0; margin-bottom: 10px; border-bottom: dashed 1px #777777 !important; border-radius:0px !important; padding-bottom: 10px; box-shadow: none;}
.full-gallery-img{width: 435px;float: right;}
.video-gallery{ width: 100px; margin: 0px !important; top: 0;height: 248px; direction: rtl;}
.video-gallery img{background: none;}

.breaking_news {
  float:left;
  width:100%;
  font-family: arial;
  font-size: 14px;
  margin-bottom:10px;
   background:#ececec;
       border-right: solid 8px #212121;
	    border-radius: 0px 5px 5px 0px;
}

.dashed-bdr-r{border-right: dashed 1px #d6d6d6;}
.dashed-bdr-l{border-left: dashed 1px #d6d6d6;}
.dashed-bdr-t{border-top: dashed 1px #d6d6d6;}
.dashed-bdr-b{border-bottom: dashed 1px #d6d6d6;}
.bdr-solid-r{border-right: solid #e0e0e0;}
.bdr-solid-l{border-left:solid #e0e0e0;}
.bdr-solid-t{border-top:solid #e0e0e0;}
.bdr-solid-b{border-bottom:solid #e0e0e0;}
.red-bdr-l{border-left: solid 6px #e20c0c;margin: 0px;margin-bottom: 13px;padding-left: 13px;}
.red-bdr-b{border: solid 3px #e20c0c;margin: 0px;margin-bottom: 13px;padding-left: 13px;}
.bdr-solid{border: solid #e0e0e0;}
.label {float:left;padding:6px 15px;background:#e20c0c;color:#FFF;font-weight: bold;text-transform: uppercase;border-radius: 5px 0px 0px 5px;border-left: solid 8px #212121;}
.news_title {
  padding:5px 10px;
  float:left;
}

/* Ripple magic */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple::after {
  animation: ripple 1.5s ease-out  infinite;
}


/* Borderr Highlight Effect */

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}
.story-page-hed{font-family: 'Rajdhani', sans-serif; font-weight: 700;}
.share-icon{position: absolute;margin-top: -65px;}
.share-icon ul {margin: 0px;padding: 0px;margin-left: 5px;}
.share-icon ul li{list-style-type: none; float: left; width: 16.57%; text-align: center; border-left: solid 0.5px #464646; background: #212121;padding: 6px 0px 6px 0px;color:#ffffff !important;}
.share-icon ul li a{width:100%; float:left;}
.share-icon ul li:nth-of-type(1)::after{content: "";
    position: absolute;
    border-color: #e20c0c00 #69565600 #e20c0c00 #fe941e;
    /* right: 0; */
    margin-left: 40px;
    top: 0px;
    content: '';
    border-style: solid;
    border-width: 19px 0px 17px 15px;}
.share-icon ul li:nth-of-type(1){background: #fe941e;color: white;}

.share-icon ul li:nth-of-type(2):hover{color:#000000 !important; background:#ffffff;}

.share-icon ul li:nth-of-type(3):hover{color:#000000 !important; background:#ffffff;}

.share-icon ul li:nth-of-type(4):hover{color:#000000 !important; background:#ffffff;}

.share-icon ul li:nth-of-type(5):hover{color:#000000 !important; background:#ffffff;}

.share-icon ul li:nth-of-type(6):hover{color:#000000 !important; background:#ffffff;}
.lh{line-height: 28px;}

.tags {
    position: relative;
    background-color: transparent;
    color: #fff;
    display: inline-block;
        padding: 3px 20px 3px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    right: 0;
    z-index: 9;
    float: left;
    margin-right: .8rem;
    
}
.tags:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
   background: -webkit-linear-gradient(top, #e20c0c 0%,#b51717 100%);
    transform: skewX(22deg);
	    border-left: solid 5px #212120;
	    border-right: solid 5px #212120;
    z-index: -9;
	border-radius: 5px;
}
.story video slider, .carousel-caption{position:initial; right: auto; left: auto; background: #ff3547; padding: 5px;}
.story video slider, .carousel-caption p{margin: 0px;}
.story video slider, .carousel-control-prev, .carousel-control-next {color:#000000;top: -24px;opacity: 1; font-size: 20px;}
.quotation::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 13px;
    position: relative;
    margin-right: 0px;
	    color: #212121;
}
.quotation:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    font-size: 13px;
    position: absolute;
    margin-left: 5px;
    margin-top: 6px;
	    color: #212121;
}
.mt-65{margin-top:65px;}
.footer-height{height:140px;}
.text-danger {
    color: #e20c0c!important;
}
.left115{margin-left:115px;}
.rightSidebar{padding-left: 33px;}

/*desktop-css*/



/*mobile-css*/
@media (max-width: 767px) {
	.whatsup{width:80%;}
	.breaking_news {width: 100%;text-align: center;font-size: 12px;border-right: none;border-radius: 0px;margin-bottom: 0px;}

	.label {border-radius: 0px;border-left: none;width: 100%;font-size: 16px;}
	.mt-65{margin-top:63px !important;}
	#menu {background: #000000 !Important;}
	.site-logo {height: 50px;background-position: center !important; background-size: 100%!important;}
	#header #menu li a {padding: 16px !important;text-align: left;border-right: none !important;	font-size:19px !important;}
#menu ul.menu {background: white; height:100%;}
	.section-style {background: none;box-shadow: none;padding: 0px !important;border-radius:0px!important;}
	.featcard{padding: 0px !important;}
	.featcard img{border-radius: 0px;}
	.mob-m-0{margin:0px;}
	.mob-mb-15{margin-bottom:15px;}
	.mb-bg-light{ background:#f7f7f7 !important; border-radius:0px !important;}
	.mb-bg-light, .date{color:#000 !important; font-size:10px;}
	.date{margin-right:10px;}
	.industry-brefing h6 {font-size: 16px !important;margin-bottom: 10px !important;padding: 0px !important;}
	.widget-title-cover {background-image: url(../images/shape-dark.png);width: 100%;background-repeat-y: no-repeat;background-repeat-y: none;background-position: center;border-bottom: none;}
.widget-title-cover h5.widget-title {border-left: solid #ff8800;background: white !important;    color: #212529;padding: 0px;text-shadow: none;}
.widget-title-cover h5.widget-title span::after{ display:none;}
.media-form ul {margin: 0px;background: #ffedd2;padding: 5px 25px 12px 25px;margin-top: 18px;   margin-bottom: 25px;border: double 10px #ffffff;}
.media-form ul li {line-height: 30px !important;font-weight: bold;font-size: 18px !important;}
.mob-seemore{ background: white;margin: 0px !important;height: 100%;padding-left: 9px;font-size:14px;padding-top: 4px;}
	.fa-calendar{font-size: 10px;}
.news_title {font-size: 14px;line-height: 24px;}
.label {padding: 6px 15px 2px;}
	.burger-container #burger .bar{ background:#FFF !important;}
	.mob-admsn-job{padding: 10px !important;
    margin-bottom: 6px !important;}
	.mob-p-0{padding:0px !important;}
	.mob-m-0{margin:0px !important;}
	.img-thumbnail {padding: 0px;border-radius: 0px;}
	.mob-bdr-0{border:none !important;}
	.admsn-top-stry h6{ padding: 0px 6px 0px 6px; margin-top:13px; font-size:18px;}
	.admsn-top-stry p{padding: 0px 6px 0px 6px;font-size: 20px;}
	.mob-admsn-reltd{padding:16px !important;background:#ff88001f!important;}
	.mob-admsn-reltd h6{font-size:19px;}
	.add-text{text-align:center !important;}
	.media-form h5{padding: 6px;margin-bottom: 0px;}
	.media-form p{padding: 7px;}
	.red-r-bdr{border:none;}
	.mob-radius-0{border-radius: 0px !important;}
	.mob-bg-light-y{background: #FF9800;border: double 10px white;}
	.mob-bdr-solid{border:solid 1px !important;}
	.mob-mt-15{margin-top: 15px;}
	.mob-mt-75{margin-top:75px !important;}
	.mob-mt-30{margin-top: 30px !important;}
	.mob-mt-8{margin-top: 8px;}
	.mob-mb-8{margin-bottom: 8px;}
	.mob-mb-15{margin-bottom: 15px !important;}
	.mob-dspl-none{display:none;}
	.mob-p-10{padding:10px !important;}
	.mob-pt-10{margin-top:10px;}
	.mob-p-30{padding:30px;}
	.mob-bdr-mb{border-bottom: solid #cccccc !important;}
	.section_6 h6{padding: 0px 0px 0px 8px;}
	.section_6 p{padding: 0px 0px 0px 8px;}
	#nt-example1{margin-top:15px; background: #940303;height: 420px !important;border: double 10px white;}
	#nt-example1 li{font-size:18px; font-weight: 400;border-bottom: 1px dashed #cccccc;}
	#nt-example1 li small{color: #cccccc !important;}
	.full-gallery-img {width: 100%;float: left;}
	.image-gallery {width: 100%;display: contents;height: auto;}
	.image-gallery li{border:none !important; margin: 6px; padding-bottom: 0px;}
	.image-gallery img {max-width: 100% !important;height: auto !important;}
	.video-gallery {width: auto;margin: 0px !important;margin-top: 10px !important;height: auto;   overflow: hidden;}
.video-thumb {min-height: auto;height: auto;}
.video-gallery img {background: none;margin: 9px;width: 28%;float: left;}
.video-iframe {padding-bottom: 47.25%;}
.video-iframe iframe {height: 214px !important;}
.ripple:after {content: '';position: absolute;top: 50%;left: 50%;width: 10px;height:10px;}
.share-icon {padding: 0px;position: relative;margin-top: -54px;}
.share-icon ul {margin: 0px;padding: 0px !important;margin-left: 0px;width: 100%;}
.share-icon ul li {width: 16.66%;padding: 3px 0px 3px 0px;}
.story-page-hed {font-size: 22px;border-width: 5px;}
	.share-icon ul li:nth-of-type(1)::after {margin-left: 2px !important;border-style: solid;border-width: 16px 0px 15px 15px;}
	.mob-m-auto{margin: auto;}
	.author{background: #d6d6d6;border: double 10px white;}
#nt-example2 {height: 413px !important;}
	#nt-example2 li {height: 208px !important;margin-bottom: 10px;line-height: 30px;}
	.story-mk{background: none !important; border: none !important;}
	.story-mk small{color:#cccccc !important;}
	.mob-text-center{text-align:center !important;}
	.share-buttons{text-align:center !important;}
	.share-buttons button{font-size: 6px; margin: 2px;}
	.share-buttons i{font-size:14px;}
	.tags-buttons a{margin: 4px !important;}
	.heading-bdr {border-width: 7px !important;}
	.heading-bdr2{border-width: 7px !important;}
	.widget-title-cover h5.widget-title {border-left: solid 10px #ff8800;}
	.videoframe{height:194px;}
	.top-band{display:none;}
	.mob-dspl-blck{display:block !important;}
	.top-sq-bn{position:inherit !important;}
	#header.search-open .custom-search {
    opacity: 1;
    z-index: 999;
    width: 75% !important;
}
	
#header .form-text {
    padding: 15px 20px 9px 49px !important;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 2px #fe941e !important;
    width: 100%;
    color: #ffffff !important;
    height: 74px !important;
    margin-top: 1px;
}
	#header .custom-search .form-submit {
    background-position: -10px 12px !important~;
    background-size: 144% !important;
    top: 24% !important;
}
	.left115{margin-left:auto;}
	.whatsup{margin-top:15px;}
	
}
/*mobile-css*/



/*tab-css*/
@media (max-width: 768px) {
	.mt-65{margin-top:67px;}
	#menu {background: #000000 !Important;}
	.site-logo {height: 50px;background-position: center !important; background-size: 100%!important;}
	#header #menu{margin-top:0px;}
	#header #menu li a {padding: 16px !important;text-align: left;border-right: none !important;	font-size:19px !important;}
#menu ul.menu {background: white; height:100%;}
	.section-style {background: none;box-shadow: none;padding: 0px !important;border-radius:0px!important;}
	.featcard{padding: 0px !important;}
	.featcard img{border-radius: 0px;}
	.mob-m-0{margin:0px;}
	.mob-mb-15{margin-bottom:15px;}
	.mb-bg-light{ background:#f7f7f7 !important; border-radius:0px !important;}
	.mb-bg-light, .date{color:#000 !important; font-size:10px;}
	.date{margin-right:10px;}
	.industry-brefing h6 {font-size: 16px !important;margin-bottom: 10px !important;padding: 0px !important;}
	.widget-title-cover {background-image: url(../images/shape-dark.png);width: 100%;    background-repeat: repeat-x;background-position: center;border-bottom: none;}
.widget-title-cover h5.widget-title {border-left: solid #ff8800;background: white !important;    color: #212529;padding: 0px;text-shadow: none;}
.widget-title-cover h5.widget-title span::after{ display:none;}
.media-form ul {margin: 0px;background: #ffedd2;padding: 5px 25px 12px 25px;margin-top: 18px;   margin-bottom: 25px;border: double 10px #ffffff;}
.media-form ul li {
    line-height: 26px;
    font-weight: bold;
    font-size: 16px;
}
.mob-seemore{ background: white;margin: 0px !important;height: 100%;padding-left: 9px;font-size:14px;padding-top: 4px;}
	.fa-calendar{font-size: 10px;}
.news_title {font-size: 14px;line-height: 20px;}
.label {padding: 6px 15px 2px;}
	.burger-container #burger .bar{ background:#FFF !important;}
	.mob-admsn-job{padding: 10px !important;
    margin-bottom: 6px !important;}
	.mob-m-0{margin:0px !important;}
	.img-thumbnail {padding: 0px;border-radius: 0px;}
	
	.admsn-top-stry h6{ padding: 0px 6px 0px 6px; margin-top:13px; font-size:18px;}
	.admsn-top-stry p{padding: 0px 6px 0px 6px;font-size: 20px;}
	.mob-admsn-reltd{padding:16px;background:#ffffff; padding-top: 0px;}
	.mob-admsn-reltd h6{font-size:19px;}
	.add-text{text-align:center !important;}
	.media-form h5{padding: 6px;margin-bottom: 0px;}
	.media-form p{padding: 7px;}
	.mob-radius-0{border-radius: 0px !important;}
	.mob-bdr-solid{border: solid 6px #fdfdfd;}
	.mob-mt-15{margin-top: 15px;}
	.mob-mt-75{margin-top:75px;}
	.mob-mt-8{margin-top: 8px;}
	.mob-mb-8{margin-bottom: 8px;}
	.mob-mb-15{margin-bottom: 15px !important;}
	.mob-dspl-none{display:none;}
	.mob-p-10{padding:10px !important;}
	.mob-pt-10{margin-top:10px;}
	.mob-bdr-mb{border-bottom: solid #cccccc !important;}
	.section_6 h6{padding: 0px 0px 0px 8px;}
	.section_6 p{padding: 0px 0px 0px 8px;}
	#nt-example1{margin-top:15px; background: #940303;height: 420px !important;border: double 10px white;}
	#nt-example1 li{font-size:18px; font-weight: 400;border-bottom: 1px dashed #cccccc;}
	#nt-example1 li small{color: #cccccc !important;}
	.full-gallery-img {width: 100%;float: left;}
	.image-gallery {
    width: 100%;
    display: table;
    height: auto;
    position: relative !important;
}
	.image-gallery li{border:none !important; margin: 6px; padding-bottom: 0px;}
	.image-gallery img {max-width: 100% !important;height: auto !important;}
	.video-gallery {width: auto;margin: 0px !important;margin-top: 10px !important;height: auto;   overflow: hidden;}
.video-thumb {min-height: auto;height: auto;}
.video-gallery img {background: none;margin: 16px;width: 28%;float: left;}
.video-iframe {padding-bottom: 47.25%;}
.video-iframe iframe {height: 374px;}
.ripple:after {content: '';position: absolute;top: 50%;left: 50%;width: 10px;height:10px;}
.share-icon {padding: 0px;position: relative;margin-top: -54px;}
.share-icon ul {margin: 0px;padding: 0px 16px 0px 16px;margin-left: 0px;width: 100%;}
.share-icon ul li {width: 16.66%;padding: 3px 0px 3px 0px;}
.story-page-hed {font-size: 22px;border-width: 5px;}
	.share-icon ul li:nth-of-type(1)::after {margin-left: 2px;border-style: solid;border-width: 16px 0px 15px 15px;}
	.mob-m-auto{margin: auto;}
	.author{background: #d6d6d6;border: double 10px white;}
	#nt-example2 li {margin-bottom: 10px;line-height: 30px;height: 168px;}
	.story-mk{background: none !important; border: none !important;}
	.story-mk small{color:#cccccc !important;}
	.mob-text-center{text-align:center !important;}
	.share-buttons{text-align:center !important;}
	.share-buttons button{font-size: 6px; margin: 2px;}
	.share-buttons i{font-size:14px;}
	.tags-buttons a{margin: 4px !important;}
	.heading-bdr {border-width: 7px !important;}
	.heading-bdr2{border-width: 7px !important;}
	.widget-title-cover h5.widget-title {border-left: solid 7px #ff8800;}
	.videoframe{height:194px;}
	.top-band{display:none;}	
	.tab-dspl-none{display:none;}
	.tab-dspl-block{display:block;}
	.tab-mb-0{margin-bottom: 0px !important;}
	.top-hed{padding: 10px;}
	.top-hed h6{font-size: 14px;}
	.top-sq-bn{position:absolute; right: 0;}
	.tab-bdr{border:none;}
	.tab-brd-b{border-bottom: solid 1px red}
	#header .form-text {
    padding: 15px 20px 9px 49px !important;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 2px #fe941e !important;
    width: 100%;
    color: #ffffff !important;
    height: 70px !important;
    margin-top: 1px;
}
	#header .custom-search .form-submit {
    background-position: -10px 12px !important~;
    background-size: 144% !important;
    top: 24% !important;
}
	#header.search-open .custom-search {
    opacity: 1;
    z-index: 999;
    width: 86% !important;
}
	.left115{margin-left:auto;}
	.rightSidebar{padding-left: 13px;}
	
	
}

/*tab-css*/

@media only screen and (max-width: 1024px) and (min-width: 800px) {
#header #menu li a {
    font-size: 14px !important;
    padding: 0 7px !important;

}
}

